/* Added animation cubic */
ul{
    list-style-type:none;
  }
  li:nth-child(1)
  {
    position:absolute;
    left:15%;
    height:30px;
    width:30px;
    background:rgb(87, 159, 168);
  }
  li:nth-child(2)
  {
    position:absolute;
    left:30%;
    height:45px;
    width:45px;
    background:rgb(87, 159, 168);
  }
  ul li:nth-child(3)
  {
    position:absolute;
    left:50%;
    height:70px;
    width:70px;
    background:rgb(87, 159, 168);
  }
  li:nth-child(4)
  {
    position:absolute;
    left:50%;
    height:20px;
    width:20px;
    background:rgb(87, 159, 168);
  }
  li:nth-child(5)
  {
    position:absolute;
    left:5%;
    height:30px;
    width:30px;
    background:rgb(87, 159, 168);
  }

  li:nth-child(6)
  {
    position:absolute;
    right:30%;
    height:45px;
    width:45px;
    background:rgb(87, 159, 168);
  }

   li:nth-child(7)
  {
    position:absolute;
    right:5%;
    height:30px;
    width:30px;
    background:rgb(87, 159, 168);
  }

  li{
    animation:animate 15s linear 1s infinite;
  }
  
  @keyframes animate{
    from{
      transform: translateY(+1500%) rotate(180deg)
    }
    to{
      transform: translateY(-150%)
        rotate(360deg)
    }
  }

/* Added adjustment for section */
#quote {
    margin-bottom: 100px;
    margin-top: 100px;
    width: 80%;
    padding-top: 3%;
    padding-bottom: 8%;
    padding-left: 10%;
  }
  
/* Added design for quote container */
#quoteContainer {
    position: relative;
    width: 70%;
    box-shadow: 0 0 20px rgb(87, 159, 168); 
    margin-left: 13%;
    border-radius: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
  }
  
p{
    text-align: center;
    font-family: 'Work Sans', sans-serif;
}

/* Added box shadow and other design adjustment for review  */
#reviews{
    font-size: 20px;
    color: #444;
    position: relative;
    width: 70%;
    box-shadow: 0 0 20px rgb(87, 159, 168); 
    margin-left: 13%;
    border-radius: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}
