.checkout {
    padding: 60px 0px;
    overflow: hidden;
  }
  
  .checkout .section-bg {
    background-color: #f7fbfe;
  }
  
  .checkout .section-title {
    text-align: center;
    padding-bottom: 30px;
  }
  
  .checkout .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    color: #222222;
  }
  
  .checkout .section-title h2::before,
  .checkout .section-title h2::after {
    content: "";
    width: 50px;
    height: 2px;
    background: #3498db;
    display: inline-block;
  }
  
  .checkout .section-title h2::before {
    margin: 0 15px 10px 0;
  }
  
  .checkout .section-title h2::after {
    margin: 0 0 10px 15px;
  }
  
  .checkout .section-title p {
    margin: 15px 0 0 0;
  }
