body {
    margin-right: auto;
    margin-left: auto;
}
header { 
    padding: 15px 200px; 
}
main {
    min-height: 550px;
    width: 950px;
    padding: 20px 0px;
    margin-left: auto;
    margin-right: auto;
}
.title {
    font-weight: bold;
    font-size: 48px;
    text-align: center;
}
.tagline {
    font-size: 24px;
    text-align: center;
}
.navigation-bar { background-color: darkblue; padding: 0px 200px; height: 40px; margin-right: auto; margin-left: auto; }
.navigation-item { color: white; font-size: 1.3em; padding: 5px 40px; line-height: 40px; }
.navigation-item:hover { color: lightblue; }